<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/style.css">
  <title>About</title>
</head>
<body>
  <header>
    <div id="nav-bar">
      <ul>
        <li><a id="homeLink" href="/">Home</a></li>
        <li><a id="aboutLink" href="#">About</a></li>
        <li><a id="workLink" href="work">Work</a></li>
      </ul>
    </div>
  </header>
  <main>
    <h1>About</h1>
    <section>
      <article>
        <h2>Hey I'm Manish</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
          doloribus iure modi blanditiis assumenda eligendi enim totam tempore
          vel laborum perspiciatis atque asperiores, molestias voluptates,
          recusandae magnam, officia aliquid neque!
        </p>
      </article>
    </section>
    <section>
      <article>
        <h2>Check out my cool Gallery</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          veritatis asperiores pariatur reprehenderit in beatae esse modi
          nulla aperiam tempore minus error delectus cumque aliquam iure quod
          alias, illo tenetur et assumenda, hic omnis perferendis debitis
          dolorem. Reprehenderit laboriosam dolore dicta minima nesciunt
          cupiditate ipsum esse pariatur magnam maiores blanditiis ducimus
          dolorem, veniam reiciendis quis consectetur quia. Quaerat, dicta
          repellat? Fugiat id distinctio animi cumque voluptates expedita
          aperiam quod rerum, harum facere facilis quos soluta, hic sequi
          excepturi. Inventore porro numquam quod quos ipsum excepturi
          mollitia ex similique incidunt! Odio architecto obcaecati
          exercitationem voluptatem aperiam reiciendis totam velit soluta
          sint. Deleniti rem unde ab, laboriosam debitis vero voluptatem
          officiis? Deleniti non qui ea aliquam. Asperiores odit reprehenderit
          obcaecati molestiae dolores distinctio, ex repudiandae magni ad
          assumenda velit sunt dolorem ullam facere voluptates dicta sint
          minima, soluta quibusdam neque? Facere, dignissimos reiciendis.
          Maxime voluptatum animi porro? Neque ullam reprehenderit cupiditate
          dolore.
        </p>
      </article>
    </section>
  </main>
</body>
</html>