<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/style.css" />
    <title>Landing</title>
  </head>
  <body>
    <header>
      <div id="nav-bar">
        <ul>
          <li><a id="homeLink" href="#">Home</a></li>
          <li><a id="aboutLink" href="about">About</a></li>
          <li><a id="workLink" href="work">Work</a></li>
        </ul>
      </div>
    </header>
    <main>
      <h1>Home</h1>
      <section>
        <article>
          <h2>Hey I'm Manish</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            doloribus iure modi blanditiis assumenda eligendi enim totam tempore
            vel laborum perspiciatis atque asperiores, molestias voluptates,
            recusandae magnam, officia aliquid neque!
          </p>
        </article>
      </section>
      <section>
        <article>
          <h2>Want to see my Art?</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis optio quas, aut fuga provident non? A quisquam explicabo ea quaerat nemo et saepe dolores voluptates sed corporis, atque numquam quidem!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi omnis consequatur fugiat ratione soluta repudiandae blanditiis neque sunt obcaecati doloribus, minima eaque fugit. Quia laboriosam minima labore nostrum quisquam architecto.
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
