<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/style.css">
  <title>Work</title>
</head>
<body>
  <header>
    <div id="nav-bar">
      <ul>
        <li><a id="homeLink" href="/">Home</a></li>
        <li><a id="aboutLink" href="about">About</a></li>
        <li><a id="workLink" href="#">Work</a></li>
      </ul>
    </div>
  </header>
  <main>
  <h1 id="work">Work</h1>
    <section class="modal">
      <div>
        <img src="images/pic1.png" alt="sunset">
      </div>
    </section>
    <section class="photos">
      <div class="gallery">
        <a target="_blank">
          <img src="images/pic1.png" alt="sunset" width="600" height="400">
        </a>
        <div class="desc">beautiful sunset
          <h4>Only $100,000,000</h4>
        </div>
      </div>
      <div class="gallery">
        <a target="_blank">
          <img src="images/pic2.png" alt="sunset" width="600" height="400">
        </a>
        <div class="desc">another beautiful sunset
          <h4>Only $100,000,000</h4>
        </div>
      </div>
​
      <div class="gallery">
        <a target="_blank">
          <img src="images/pic3.png" alt="sunset" width="600" height="400">
        </a>
        <div class="desc">another beautiful sunset
          <h4>Only $100,000,000</h4>
        </div>
      </div>
​
      <div class="gallery">
        <a target="_blank">
          <img src="images/pic4.png" alt="sunset" width="600" height="400">
        </a>
        <div class="desc">another beautiful sunset
          <h4>Only $100,000,000</h4>
        </div>
      </div>
    </section>
  </main>

  <script src="./src/gallery.js"></script>
</body>
</html>